body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    padding: 30px;
}

h1 {
    text-align: center;
}

.lesson {
    background-color: white;
    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.output {
    background-color: #eeeeee;
    padding: 15px;
    border-radius: 5px;
}